# =========================
# Spring Boot (Backend)
# =========================
demo/target/
demo/.mvn/wrapper/maven-wrapper.jar

*.class
*.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# =========================
# React (Frontend)
# =========================
frontend/node_modules/
frontend/dist/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db